/* html{
    box-sizing: border-box;
} */
.container {
    background-color: #c00025;
    width: 20%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
    box-sizing: border-box;
}
.display {
    /* margin-top: 25px; */
    height: 8vh;
    width: 80%;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 3.0rem;
    margin: 2% auto;
  }

.operator{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: center;
}

div.calcWrap{
    display:flex;
    flex-wrap: flex;
    justify-content: center;
    margin-top: 4%;
    /* height: 60%; */
    
}
 button{
    /* width:30%;
    border-radius: 90%;
    height: 50%; */
    background: black;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}

button.operator{
    width:100%;
    background:rgb(61,181,229);
}
.rightHand{
    width: 20%;
}
.leftHand{
    /* width:100%; */
    width:75%;
    display:flex;
    flex-direction: column;
    /* justify-content: space-around; */
    
}
.leftHand button{
    width: 28%;
}

/* colors */
.special{
    background: rgb(32,97,176);
}
.number{
    background:rgb(17,60,120);
}
